block content
  h1 Agregar Entrenador
  form(action="/entrenadores/add" method="POST")
    div
      label(for="nombre") Nombre:
      input(type="text" name="nombre" id="nombre" required)
    div
      label(for="especialidad") Especialidad:
      input(type="text" name="especialidad" id="especialidad" required)
    div
      button(type="submit") Agregar Entrenador
  a(href="/entrenadores") Volver a la lista de entrenadores