extends ../templates/layout

block content
  h1 Editar Entrenador
  form(action=`/entrenadores/edit/${entrenador.id_entrenador}` method="POST")
    div
      label(for="nombre") Nombre:
      input(type="text" name="nombre" id="nombre" value=entrenador.nombre required)
    div
      label(for="especialidad") Especialidad:
      select(name="especialidad" id="especialidad" value=entrenador.especialidad required)
        option(value="pesas") Pesas
        option(value="yoga") Yoga
        option(value="yoga") Cardio
        option(value="spinning") Spinning
        option(value="crossfit") Crossfit
    div
      label(for="nivel_experiencia") Nivel de experiencia:
      select(name="nivel_experiencia" id="nivel_experiencia" value=entrenador.nivel_experiencia required)
        option(value="principiante") Principiante
        option(value="intermedio") Intermedio
        option(value="avanzado") Avanzado
        option(value="experto") Experto
    div
      button(type="submit") Guardar Cambios
  a(href="/entrenadores") Volver a la lista de entrenadores