extends ../templates/layout

block content
    div 
        h3 Desasociar sesión del entrenador
        form(action=`/entrenadores/${entrenadorId}/sesiones/delete` method="post")
            input(type="hidden" name="sesionId" value=`${sesionId}`)
            p
                | ¿Estás seguro de que deseas desasociar la sesión con ID: 
                strong #{entrenadorId}
                | ?
            br
            button(type="submit") Confirmar Desasociación
        a(href=`/entrenadores/${entrenadorId}/sesiones`) Cancelar y volver a la lista
