extends ../templates/layout

block content
    div.container.mt-5.mb-4
        h3.text-center.text-danger.mb-4 Desasociar sesión del entrenador
        
        form(action=`/entrenadores/${entrenadorId}/sesiones/delete` method="post" class="bg-light p-4 rounded shadow-sm")
            input(type="hidden" name="sesionId" value=`${sesionId}`)
            
            p.text-center
                | ¿Estás seguro de que deseas desasociar la sesión con ID: 
                strong #{idSesion}
                | ?
            br
            button(type="submit") Confirmar Desasociación
        a(href=`/entrenadores/${entrenadorId}/sesiones`) Cancelar y volver a la lista
