block content
  .container
    h1.text-center.my-4 Bienvenido a la Gestión de Clientes y Planes

    p.text-center.mb-4 Para empezar, selecciona una de las opciones a continuación:

    .list-group
      li.list-group-item
        a(href="/clientes") Gestión de Clientes
      li.list-group-item
        a(href="/entrenadores") Gestión de Entrenadores
      li.list-group-item
        a(href="/planesMembresias") Gestión de Planes de Membresía
      li.list-group-item
        a(href="/sesiones") Sesiones

    p.text-center.mt-4 Si necesitas ayuda, puedes consultar nuestra documentación o ponerte en contacto con el soporte.
