extends templates/layout

block content
  .container
    h1.text-center.my-4.font-weight-bold.text-primary
      | Bienvenido a la Gestión de Clientes y Planes

    p.text-center.mb-4.text-muted
      | Para empezar, selecciona una de las opciones a continuación:

    .d-flex.flex-column.align-items-center
      .list-group.w-100(style="max-width: 500px;")
        li.list-group-item
          a(href="/clientes" class="btn btn-primary btn-lg btn-block my-3 shadow-lg rounded-pill") 
            | Gestión de Clientes
        li.list-group-item
          a(href="/entrenadores" class="btn btn-primary btn-lg btn-block my-3 shadow-lg rounded-pill") 
            | Gestión de Entrenadores
        li.list-group-item
          a(href="/planesMembresias" class="btn btn-primary btn-lg btn-block my-3 shadow-lg rounded-pill") 
            | Gestión de Planes de Membresía
        li.list-group-item
          a(href="/sesiones" class="btn btn-primary btn-lg btn-block my-3 shadow-lg rounded-pill") 
            | Sesiones

    p.text-center.mt-4.text-muted
      | Si necesitas ayuda, ponte en contacto con el soporte.
