nav.navbar.navbar-expand-lg.bg-light
  .container-fluid
    a.navbar-brand(href='#') Gestión Académica
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      ul.navbar-nav.me-auto.mb-2.mb-lg-0        
        li.nav-item
          a.nav-link(href='#') 
        li.nav-item
          a.nav-link(href="/") Inicio
        if user
          li.nav-item
            a.nav-link(href="/alumnos") Alumnos
          li.nav-item
            a.nav-link(href="/asignaturas") Asignaturas
          li.nav-item
            a.nav-link(href="/auth/logout") Cerrar sesión
        else
          li
            a.nav-link(href="/auth/login") Iniciar Sesión
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') Ayuda
          ul.dropdown-menu
            li
              a.dropdown-item(href='#') Manual de Usuario
            li
              a.dropdown-item(href='#') Sobre nosotros
            li
              hr.dropdown-divider
            li
              a.dropdown-item(href='#') Formulario de contacto
