extends ../templates/layout

block content
  h1 Agregar Plan de Membresía
  form(action="/planesMembresias/add" method="POST")
    label(for="nombre_plan") Nombre:
    select(name="nombre_plan" id="nombre_plan" required)
      option(value="Básico Anual") Básico Anual
      option(value="Premium Mensual") Premium Mensual
      option(value="Elite Mensual") Elite Mensual
    div
      label(for="precio") Precio:
      input(type="number" name="precio" id="precio" required)
    div 
      label(for="duracion_meses") Duracion de meses:
      input(type="number" name="duracion_meses" id="duracion_meses" required)
    div
      button(type="submit") Agregar Plan
  a(href="/planesMembresias") Volver a la lista de planes