extends ../templates/layout

block content
  h1 Confirmar Eliminación
  p ¿Estás seguro de que deseas eliminar este plan de membresía?
  form(action=`/planesMembresias/delete/${plan_membresia.id}` method="POST")
    div
      label(for="nombre_plan") Nombre:
      input(type="text" name="nombre_plan" id="nombre_plan" value=plan_membresia.nombre_plan readonly="readonly" required)
    div
      label(for="precio") Precio:
      input(type="text" name="precio" id="precio" value=plan_membresia.precio readonly="readonly" required)
    div
      label(for="duracion_meses") Duracion de meses:
      input(type="text" name="duracion_meses" id="duracion_meses" value=plan_membresia.duracion_meses readonly="readonly" required)
    button(type="submit") Eliminar
  a(href="/planesMembresias") Volver a la lista de planes