extends ../templates/layout

block content
  h1 Agregar Cliente-Plan
  form(action="/clientes_planes/add" method="POST")
    div
      label(for="cliente") ID Cliente:
      input(type="number" name="cliente" id="cliente" required)
    div
      label(for="plan") ID Plan:
      input(type="number" name="plan" id="plan" required)
    div
      label(for="fecha_inicio") Fecha de Inicio:
      input(type="date" name="fecha_inicio" id="fecha_inicio" required)
    div
      button(type="submit") Agregar Cliente-Plan
  a(href="/clientes_planes") Volver a la lista de cliente-plan