extends ../templates/layout

block content
  h1 Agregar Cliente-Plan
  form(action="/clientes_planes/add" method="POST")
    div
      label(for="Id_cliente") ID Cliente:
      input(type="number" name="Id_cliente" id="Id_cliente" required)
    div
      label(for="Id_plan") ID Plan:
      input(type="number" name="Id_plan" id="Id_plan" required)
    div
      label(for="fecha_inicio") Fecha de Inicio:
      input(type="date" name="fecha_inicio" id="fecha_inicio" required)
    div
      label(for="fecha_fin") Fecha de Fin:
      input(type="date" name="fecha_fin" id="fecha_fin" required)
    div
      button(type="submit") Agregar Cliente-Plan
  a(href="/clientes_planes") Volver a la lista de cliente-plan