extends ../templates/layout

block content
  h1 Confirmar Eliminación
  p ¿Estás seguro de que deseas eliminar este registro de cliente-plan?
  form(action=`/clientes_planes/delete/${cliente_plan.Id_cliente_plan}` method="POST")
    button(type="submit") Eliminar
  a(href="/clientes_planes") Volver a la lista de cliente-plan
