extends ../templates/layout

block content
  h1 Editar Cliente-Plan
  form(action=`/clientes_planes/edit/${cliente_plan.id}` method="POST")
    div
      label(for="id_cliente") ID Cliente:
      input(type="number" name="id_cliente" id="id_cliente" value=cliente_plan.id_cliente required)
    div
      label(for="id_plan") ID Plan:
      input(type="number" name="id_plan" id="id_plan" value=cliente_plan.id_plan required)
    div
      label(for="fecha_inicio") Fecha de Inicio:
      input(type="date" name="fecha_inicio" id="fecha_inicio" value=cliente_plan.fecha_inicio required)
    div
      button(type="submit") Guardar Cambios
  a(href="/clientes_planes") Volver a la lista de cliente-plan
