extends ../templates/layout
block content
  h1 Editar Cliente
  form(action=`/clientes/edit/${cliente.Id_cliente}` method="POST")
    div
      label(for="nombre") Nombre:
      input(type="text" name="nombre" id="nombre" value=cliente.nombre required)
    div
      label(for="email") Email:
      input(type="email" name="email" id="email" value=cliente.email required)
    div
      label(for="telefono") Teléfono:
      input(type="text" name="telefono" id="telefono" value=cliente.telefono required)
    div
      button(type="submit") Guardar Cambios
  a(href="/clientes") Volver a la lista de clientes
