extends ../templates/layout

block content
    div.container
        h3 Asociar plan al cliente
        
        // Verifica si hay planes disponibles
        if planes.length > 0
            form(action=`/clientes/${clienteId}/planes/add` method="post")
                div.form-group
                    label(for="planId") Selecciona un plan:
                    select(name="planId" id="planId" class="form-control" required)
                        each plan in planes
                            option(value=plan.id)= plan.nombre_plan
                
                br
                button(type="submit" class="btn btn-primary") Asociar
        else 
            p No hay planes disponibles para asociar.
            a(href=`/clientes/${clienteId}/planes` class="btn btn-secondary") Volver a la lista de planes del cliente
